<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="File" fileName="logs/application.log" filePattern="logs/application-%d{yyyy-MM-dd}-%i.log">
            <JsonLayout complete="false" compact="true" eventEol="true"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <JsonLayout complete="false" compact="true" eventEol="true"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>